{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理登录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="{% static 'css/me.css' %}">
</head>
<body>

<br>
<br>
<br>
<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ur container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        管理后台登录
                    </div>
                </h2>
                <div class="ui large form">
                    <div class="ui  segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" id="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" id="password" placeholder="密码">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui grid">
                                <div class="two column row">
                                    <div class="column">
                                        <img src="{% url 'backend:get_code_image' %}" alt=""
                                             class="ui rounded image"
                                             style="width: 166px!important;height: 36px !important;">
                                    </div>
                                    <div class="column">
                                        <div class="ui left icon input">
                                            <i class="lock icon"></i>
                                            <input type="text" name="code" id="code" placeholder="验证码">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="login-brn" class="ui fluid large teal submit button">登 录</button>
                    </div>

                    <div class="ui error mini message"></div>
                    <div class="ui mini hidden negative message"></div>

                </div>

            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>


<script>
    // 表单校验
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            },
            code: {
                identifier: 'code',
                rules: [{
                    type: 'empty',
                    prompt: '请输入验证码'
                }]
            }
        }
    });
    // 点击图片更新验证码图片
    $('#img').click(function () {
        $('#img').click(function () {
            let oldVal = $(this).attr('src');
            $(this).attr('src', oldVal + "?");
        })
    })
    // 发送登录请求
    $('#login-btn').on('click', function () {
        $.ajax({
            url: '{% url "backend:login" %}',
            type: 'post',
            data: {
                username: $('#username').val(),
                password: $('#password').val(),
                code: $('#code').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (res) {
                if (res.code === '200') {
                    console.log(res)
                    // 跳转到首页
                    window.location.href = res.url;
                } else {
                    console.log('====', res)
                    let errorEle = $('#error-info')[0];
                    errorEle.setAttribute('class', 'ui mini negative message');
                    errorEle.innerText = res.message;
                }
            }
        })
    })
    // 给所有input框设置聚焦事件
    $('input').on('focus', function () {
        let errorEle = $('#error-info')[0];
        errorEle.setAttribute('class', 'ui mini hidden negative message');
    })
</script>


</body>
</html>